# ===== Database MySQL =====
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=dbsekolah

# ===== Flask =====
SECRET_KEY=supersecretkey123!@#
FLASK_PORT=5000
FLASK_DEBUG=True

# ===== File Runtime (opsional, default sudah benar) =====
# DATA_FILE=data/absensi.json
# CERT_FILE=cert.pem
# KEY_FILE=key.pem
